body
{
	font-family: $ff1;
	font-weight: 400;
	line-height: $lh;
	min-width: $min-width;
	overflow-x: hidden;
}

a
{
	color: inherit;
	text-decoration: none;
}

pre
{
	background: $white;
	color: $black;
	font-family: monospace;
}