body
{
	line-height: 1*$lh;
	min-width: $min_width;
	font-family: $ff1;
	font-weight: 400;
	overflow-x: hidden;
}

a
{
	color: inherit;
	text-decoration: none;
}

pre
{
	background: #fff;
	color: #000;
	font-family: monospace;
}

@include m {
	body
	{
		background: red;
	}
}

.testing
{
	font-size: 14px;
}

.probando
{
	font-size: 16px;
}
