// Static width gutter

.container
{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-column-gap: ((100%/12)/4);
	margin: 0 auto;
	max-width: 90%;
	width: 100%;
	@include m
	{

	}
	@include l
	{
		width: 960px;
	}
	@include xl
	{
		width: 1280px;
	}
}

// Fluid
.container.fluid
{
	max-width: 100% !important;
	width: 100% !important;
}

// With Out Gutter
.container.no-gap
{
	grid-column-gap: 0 !important;
}