//
// Line Height
//

$lh: 26px;
$vr: 26px;

//
// Colors
//

$gold: #AD976E;
$gold: #857544;

$grey_dark: #626260;
$grey_light: #918F95;
$grey_extralight: #D3D4D8;


$radial_gold: radial-gradient($gold 5%,rgba(0,0,0,0) 85%);

//
// Fonts
//

$ff1: 'Roboto', sans-serif;