nav.pagination
{
	grid-column: 1/span 12;
	text-align: center;
}

nav.pagination ul
{
	display: inline-block;
}

nav.pagination ul li
{
	float: left;
}

nav.pagination ul li a,
nav.pagination ul li span
{
	display: block;
}

nav.pagination ul li span.current
{

}

nav.pagination ul li a:hover
{
	
}